# Compiled Object files
*.slo
*.lo
*.o
*.obj

# The Item files
*.pro
*.pdb
debug
release
Makefile
Makefile.Release
Makefile.Debug
clean.bat

# The Program files
sniffer
sniffer.exe

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
