# Compiled Object files
*.slo
*.lo
*.o
*.obj

# The Item files
ui_*
moc_*
qrc_*

winpcap

debug
release

Makefile
Makefile.Release
Makefile.Debug
*.suo
*.pdb
*.bat

# The Program files
Sniffer.ini
sniffer_linux
sniffer.exe

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
lib
*.lib
*.lai
*.la
*.a
