# Compiled Object files
*.slo
*.lo
*.o
*.obj

# The Item files

winpcap

debug
release

Makefile
Makefile.Release
Makefile.Debug
*.pdb
*.bat

# The Program files
sniffer
sniffer.exe

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lib
*.lai
*.la
*.a
